/*content*/
body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: normal;
            background: #f0f0f0;
        }
#content{
            background-color:#fff;
            margin:10 0 0 20px;
            border-left:30px solid #1D81B6;
            -moz-box-shadow:0px 0px 16px #aaa;
			padding: 0px 10px;
        }

#content h1{
    font-family:"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", Arial, Verdana, Helvetica, sans-serif;
    color:#1D81B6;
    font-weight:normal;
    font-style:normal;
    font-size:40px;
    text-shadow:1px 1px 1px #aaa;
	padding: 10px 0px;
        }
		
/* Table 1 Style */
table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:1px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
	word-break:break-all;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
	text-align:center;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:1px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:3px 0px 0px 3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.table1 tbody span.check::before{
    content : url(../images/check0.png)
}
.table1 tfoot td{
    color: #9CD009;
    font-size:24px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}

