body {
	
	font: 11px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	height:100%;

}
html,body{
  height:100%;
  font-family:sans-serif; /* == safari & firefox == */
  *font-family:"MS PGothic"; /* == ie6 & 7 == */
  background-color:#ffffff;
  margin:0;
  padding:0;
  text-align:center;
  
}

#mainbox1{
	width:100%;
	min-height:73%;
	height:auto;
	height:73%;
	overflow:auto;
	background-color:#CCC;
	background-image:url(images/1234.jpg);
	width:100%;
	position:relative;

}