
body{
	text-align:center;
	background-image:url(../img/bk2.jpg);
	margin-top:50px;
	font-weight: bold;	
	
}
#title1{
	font-size:72px;	
	color:#FFF;
}


#DivLog{
	text-align:center;
	margin-top:180px;
	font-size:16px;


}
	