@charset "UTF-8";
body {

	color: #666666;

	background: #E6EAE9;

	font-family: auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	font-weight: normal;

	font-variant: normal;

}



#mytable {

	width: 700px;

	padding: 0;

	margin: 0;

}



caption {

	padding: 0 0 5px 0;

	width: 700px;

	text-align: right;

	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

}



th {

	color: #4f6b72;

	letter-spacing: 2px;

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

	background: #CAE8EA url(images/bg_header.jpg) no-repeat;

	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-top-style: solid;

	border-right-style: solid;

	border-bottom-style: solid;

	border-top-color: #6666FF;

	border-right-color: #6666FF;

	border-bottom-color: #6666FF;

}



th.nobg {

	border-top: 0;

	border-left: 0;

	border-right: 1px solid #C1DAD7;

	background: none;

}



td {

	border: 1px solid #C1DAD7;

	background: #fff;

	padding: 6px 6px 6px 12px;

	color: #4f6b72;

}





td.alt {

	background: #F5FAFA;

	color: #797268;

}



th.spec {

	background: #fff url(images/bullet1.gif) no-repeat;

	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	border-top-width: 0;

	border-left-width: 1px;

	border-left-style: solid;

	border-left-color: #FF9900;

}



th.specalt {

	background: #f5fafa url(images/bullet2.gif) no-repeat;

	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	color: #999999;

	border-top-width: 0;

	border-left-width: 1px;

	border-left-style: solid;

	border-left-color: #009900;

}
