@charset "UTF-8";
/**
 * JavaScript/Ajax Samples
 * @module base
 */

/* base
 ---------------------------------------- */
html, body {
	background: #000;
	font-family:  "微軟正黑體", "Microsoft JhengHei", "黑體-繁","Heiti TC", "儷黑 Pro", "LiHei Pro", "新細明體", "PMingLiU", sans-serif;
	font-size: 95%;
	color: #ccc;
}

/* header
 ---------------------------------------- */
.header {
}

/* container
 ---------------------------------------- */
.container {
}

/* footer
 ---------------------------------------- */
.footer {
}
