body{
	left:3px;
	right:3px;
	position: relative;
	height: 50%;
	background-image: url(bg.png);
}

.navbox {
	position: relative;
	float:inherit;
}

ul.nav {
	list-style: none;
	display: block;
	width: 110px;
	position: relative;
	top: 5px;
	left: 0px;
	padding: 40px 0px 40px 0;
	background: url(shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(border.png) no-repeat;
	color: #174867;
	padding: 9px 15px 9px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 67px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	background: #ebebeb url(border.png) no-repeat;
	color: #67a5cd;
	padding: 9px 15px 9px 30px;
}